// Example configuration for running on supercompute resource
// Make a local copy of this file and override it

workDir = <path to work directory>

params {
    rawDataDir = <path to ND2 raw data>
    outputDir = <path to output directory>
}

process {
    executor = 'local'
    memory = '4 GB'
    cpus = 4

    withName: detect_objects {
        cpus = 16
        memory = '16 GB'
    }

    withName: link_objects {
        cpus = 16
        memory = '16 GB'
    }

    withName: save_tiff_data {
        cpus = 8
        memory = '32 GB'
    }
}