process.executor = 'local'
process.cache = 'lenient'
// process {
//     withName: 'make_exclusion_masks' {
//         cpus = 4
//         memory = '8 GB'
//     }

//     withName: 'detect_objects' {
//         cpus = 4
//         memory = '8 GB'
//     }

//     withName: 'link_objects' {
//         cpus = 4
//         memory = '8 GB'
//     }

//     withName: 'calculate_metrics' {
//         cpus = 2
//         memory = '4 GB'
//     }
// }

// params {
//     output_dir = './data/output'
//     nd2_path = './data/input.nd2'
//     convert_script = './bin/convert_script.py'
//     exclusion_mask_script = './bin/exclusion_mask_script.py'
//     detect_objects_script = './bin/detect_objects_script.py'
//     link_objects_script = './bin/link_objects_script.py'
// }