# Requirements for running on CSC clusters
# See also:
#       https://docs.csc.fi/computing/running/getting-started/
#       https://docs.csc.fi/computing/modules/
#
# Use python venv module to setup a persistent environment

# python 3.10
bioio
bioio-nd2
dask
nextflow
numba
pandas
polars==1.2
pyarrow
scikit-image
trackpy==0.6.4
zarr==2.18.3

